<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ChristianHelle.DatabaseTools.SqlCe.CodeGenGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ChristianHelle.DatabaseTools.SqlCe.CodeGenGUI.Properties.Settings>
      <setting name="GenerateEntityUnitTests" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GenerateDataAccessUnitTests" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TestFramework" serializeAs="String">
        <value>NUnit</value>
      </setting>
      <setting name="Target" serializeAs="String">
        <value>NETCF</value>
      </setting>
      <setting name="DefaultNamespace" serializeAs="String">
        <value>ChristianHelle.DatabaseTools.SqlCe</value>
      </setting>
    </ChristianHelle.DatabaseTools.SqlCe.CodeGenGUI.Properties.Settings>
  </userSettings>
</configuration>
